<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<!--	  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<head>
	<meta charset="UTF-8">
	<title>住所検索</title>
</head>
<body>
<h1>住所検索</h1>
<div class="mx-5">
	<p>検索したい郵便番号を半角数字7桁で入力しEnterキーを押してください</p>
	<form action="/address" method="get">
		<input type="text" name="zipCode" placeholder="郵便番号入力欄"/>
		<div class="text-danger"
			 th:if=" ${#fields.hasErrors('zipCodeForm.zipCode')}"
			 th:errors="*{zipCodeForm.zipCode}">
		</div>
	</form>
</div>
</body>
</html>
